<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
</head>
<body>
    <div>
        {% block Content %}
        {% for patient in patients %}   
            <div style="border: 1px solid black; margin: 10px; padding: 10px; width: 300px;">
                <p>Nombre : {{patient.first_name}}</p> 
                <p>Apellido : {{patient.last_name}}</p> 
                <p>Email : {{patient.email}}</p>
            </div>
        {% endfor %}
        {% endblock Content %}
    </div>
</body>
</html>